body {
    background-color: #eaf7ea;
    font-family: 'Nunito', sans-serif;
}

.navbar {
    background-color: #4CAF50 !important;
}

.navbar-brand, .nav-link, .dropdown-item {
    color: white !important;
}

.navbar .dropdown-menu {
    background-color: #4CAF50;
}

.card {
    border: 1px solid #c5e1c5;
    border-radius: 10px;
}

.waste-collection-container {
    padding: 20px;
    background-color: #f1fff1;
}

.waste-collection-title {
    color: #2e7d32;
    font-weight: bold;
}

.waste-collection-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.waste-collection-table th, .waste-collection-table td {
    border: 1px solid #a5d6a7;
    padding: 10px;
    text-align: center;
}

.waste-collection-btn {
    background-color: #66bb6a;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
}

.waste-collection-btn:hover {
    background-color: #43a047;
}

.waste-collection-form-group {
    margin-bottom: 15px;
}
/* .dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:focus {
    background-color: #1573478e !important;
    color: #fff !important;
    border-radius: 6px;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    margin-bottom: 12px;
} */
/* .navbar-nav .nav-item.active > .nav-link {
    background-color: #1573478e !important;
    color: #fff !important;
    border-radius: 8px; 
    padding: 6px 12px;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}
.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:focus {
    background-color: #1573478e !important;
    color: #fff !important;
    border-radius: 8px;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}
.dropdown-item:hover {
    background-color: #198754 !important;
    color: #fff !important;
    border-radius: 8px;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.navbar-nav .nav-item:hover {
    background-color: #198754 !important;
    color: #fff !important;
    border-radius: 8px;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
} */

.navbar-nav .nav-item > .nav-link {
    padding: 6px 12px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

/* Estado activo */
.navbar-nav .nav-item.active > .nav-link,
.navbar-nav .nav-item > .nav-link.active {
    background-color: #1573478e !important;
    color: #fff !important;
}

/* Estado hover */
.navbar-nav .nav-item > .nav-link:hover {
    background-color: #198754 !important;
    color: #fff !important;
}

.dropdown-item:hover {
    background-color: #198754 !important;
    color: #fff !important;
    border-radius: 8px;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}